---
layout: default
---
<header>
  <p id="welcome-to">Welcome to</p>
  <h1>
    Jamie’s<br>
    Garden
  </h1>
  <p>
    Homepage of Jamie Gravendeel,<br>
    designer and developer
  </p>
</header>

<main>
  <section id="links">
    {% for link in links %}
      <a class="row" href="{{ link.url }}">
        <picture>
          <source
            srcset="assets/flowers/{{ link.id }}-dark.svg"
            media="(prefers-color-scheme:dark)"
          >
          <img
            width="150"
            height="250"
            id="{{ link.id }}"
            src="assets/flowers/{{ link.id }}.svg"
            alt=""
          >
        </picture>
        {{ link.label }}
      </a>
    {% endfor %}
  </section>
</main>

<footer>
  <p id="freepik">
    Illustrations from
    <a href="https://www.freepik.com/">Freepik</a>
  </p>

  <div id="flowers">
    {% for i in (1..3) %}
      <picture>
        <source
          srcset="assets/flowers/{{ i }}-dark.svg"
          media="(prefers-color-scheme:dark)"
        >
        <img
          width="150"
          height="250"
          src="assets/flowers/{{ i }}.svg"
          alt=""
        >
      </picture>
    {% endfor %}
  </div>
</footer>
