@import url("assets/fonts/dm-sans/dm-sans.css");
@import url("assets/fonts/dm-serif-display/dm-serif-display.css");

@keyframes body-appear {
  from {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --bg: #fff;
  --fg: rgb(0 0 0 / 0.8);
  --card-bg: rgb(from var(--fg) r g b / 0.03);
  --card-border: rgb(from var(--fg) r g b / 0.06);

  font-family: "DM Sans", sans-serif;
  background-color: var(--bg);
  color: var(--fg);
}

body {
  margin: 0 auto;
  max-width: 90%;
  width: 30em;
  animation: body-appear 0.5s forwards;
}

h1,
h2 {
  font-family: "DM Serif Display";
}

a {
  color: var(--fg);
  text-decoration: none;
  font-weight: 600;
}

/* Header */

header {
  text-align: center;
}

header > h1 {
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

#welcome-to {
  margin: 7em 0 -2.5em -7em;
}

/* Links */

#links {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin: 7em 0;
  align-items: center;
}

.row {
  position: relative;
  background-color: var(--card-bg);
  border: 0.15em solid var(--card-border);
  box-shadow: 0 0.15em 0 var(--card-border);
  background-clip: padding-box;
  text-align: center;
  padding: 1em 0;
  border-radius: 0.5em;
  width: 20em;
  max-width: 90%;
  transition: all 0.2s ease-in-out;
}

.row:active {
  transform: translateY(0.15em);
  box-shadow: none;
}

.row img {
  height: 2.6em;
  width: auto;
  position: absolute;
  bottom: 0;
}

/* Flowers */

#matrix {
  left: 4em;
}

#mail {
  right: 3em;
}

#mastodon {
  left: 2.5em;
}

#bsky {
  right: 5em;
}

#donate {
  left: 5em;
}

/* Footer */

footer {
  text-align: center;
}

#freepik {
  opacity: 0.5;
}

#flowers {
  display: flex;
  justify-content: center;
  align-items: end;
  column-gap: clamp(1em, 10vw, 4em);
  margin-top: 3em;
}

#flowers img {
  width: auto;
  height: 10em;
}

/* Media Queries */

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #111;
    --fg: #fff;
    --card-bg: rgb(from var(--fg) r g b / 0.05);
    --card-border: rgb(from var(--fg) r g b / 0.08);
  }
}

@media (prefers-contrast: more) {
  :root {
    --card-border: rgb(from var(--fg) r g b / 40%);
  }

  a {
    text-decoration: underline;
    text-underline-offset: 0.15em;
  }

  #freepik {
    opacity: 1;
  }
}

@media (prefers-reduced-motion) {
  .row {
    transition: none;
  }
}
