<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta Tags -->
    <title>Jamie’s Garden</title>
    <meta name="description" content="Free Software designer and developer">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Jamieʼs Garden">
    <meta
      property="og:description"
      content="Free Software designer and developer"
    >
    <meta property="og:url" content="https://jamie.garden">

    <!-- Stylesheet and Favicon -->
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="assets/favicon.png" type="image/png">
  </head>

  <body>
    {{ content }}
  </body>
</html>
