/* dm-serif-display-latin */
@font-face {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src:
        local("DM Serif Display Regular"),
        local("DMSerifDisplay-Regular"),
        url(dm-serif-display-latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
        U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
    font-display: swap;
}
/* dm-serif-display-latin-ext */
@font-face {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src:
        local("DM Serif Display Regular"),
        local("DMSerifDisplay-Regular"),
        url(dm-serif-display-latin-ext.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20CF, U+2C60-2C7F,
        U+A720-A7FF;
    font-display: swap;
}
